table {
  width: 60%;
  text-align: left;
  border-collapse: separate;
  border-spacing: 0px;
}
tr:nth-child(odd) {
  background-color: white;
}
tr:nth-child(even) {
  background-color: gainsboro;
}
th {
  padding: 5px;
  color: white;
  background: mediumseagreen;
}
table,
th,
tr,
td {
  padding: 5px;
}
