ul {
  list-style-type: none;
  background-color: lightblue;
  width: 180px;
  margin-left: 10px;
  margin-right: 10px;
}
li,
a {
  display: block;
  text-align: left;
  text-decoration: none;
  padding: 5px;
}
li:hover {
  background-color: grey;
}
